.box {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  width: 55%;
}
.nocarparked{
  background-color: rgb(216, 216, 216);
  height: 50px;
}
.parkedcar {
  max-height: 12vh;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
/* @media (max-width: 450px) {
.h-custom {
height: 100%;
}
} */